.pageContainer {
  min-width: 100%;
  min-height: 100%;
}

.pageTitle {
  margin: auto;
  text-align: center;
  font-size: 28px;
}

.colorFlexBox{
  margin: 20px auto;
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.colorBlock{
  width: 80px;
  height: 80px;
}

.downloadBtn{
  padding: 10px;
  background-color: #4cc9f0ff;
  border-radius: 5px;
  cursor: pointer;
}