.timeBlock {
  width: 600px;
  font-size: 1.4rem;
  margin: auto;
  text-align: center;
}

.square {
  background: violet;
  width: 100px;
  height: 100px;
  margin: 50px;
}

.squareBox {
  overflow: hidden;
}
