.pageContainer {
  min-width: 100%;
  min-height: 100%;
}

.pageTitle {
  margin: auto;
  text-align: center;
  font-size: 28px;
}

.carouselWindow {
  width: 600px;
  height: 300px;
  border: 1px solid #2a2d36;
  overflow: hidden;
}

.carouselItemBlock {
  height: 300px;
  position: relative;
}

.carouselItem {
  width: 600px;
  height: 300px;
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  line-height: 300px;
}

.colorBlock {
  margin: 10px;
  height: 20px;
  width: 20px;
  display: inline-block;
}
