.card{
    width: 1200px;
    height: 1600px;
    padding: 20%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.CardCNTitle{
    font-size: 180px;
    letter-spacing: 36px;
    font-weight: 600;
    writing-mode: vertical-lr;
    // width: 100%;
    padding: 28px;
    text-align: center;
    font-family: STFangsong, Arial, Helvetica, sans-serif
}

.CardENTitle{
    font-size: 72px;
    width: 100%;
    padding: 28px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

.cardContent{
    font-size: 24px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif
}