.card{
    witdh: 720px;
    height: 960px;
    background-color: #e9c46a;
}

.cardTitle{
    font-size: 28px;
    padding: 14px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

.cardContent{
    font-size: 20px;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}